.about-section {
  // padding-top: 10rem;
  // background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  padding: 10rem 0;
  background: linear-gradient(to top, #{fade-out($black, .9)} 0%,
    #{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-signup.jpg');
  // background: linear-gradient(to bottom, #{fade-out($white, .9)} 0%,
  // #{fade-out($white, .5)} 75%,$white 100%), url('../img/bg-signup.jpg');
  // background: linear-gradient(to bottom, #{fade-out($white, .9)} 0%,#{fade-out($white, .5)} 75%,$white 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  p {
    margin-bottom: 5rem;
  }
}
