.projects-section {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
 
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }

    .col-md-3.projList{
      // .projects{
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-evenly;
      border: 1px solid rgb(104, 104, 104);
      border-radius:10px;
      box-shadow: 2px 2px 2px rgb(204, 189, 189);
      margin: 10px;
      margin-bottom: 25px;
      background: white;
  }
.popupBorder{
      border: 1px solid rgb(196, 196, 196);
      border-radius:10px;
      box-shadow: 2px 2px 2px rgb(201, 201, 201);
}
  .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.modal-body{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    display: block;
    background: white;
  }

  .modal-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.modal{
  background: white;
}
.modal-footer{
    display: block;
    text-align: center;
    background: white;
  }

  .modal-body img{
    width: 50%;
    height: 50%;
    padding-bottom: 10px;
  }
  
}