.col-sm-3.technologies{
      border: none;
      border-radius: none;
      box-shadow: none;
  }
  .technos, .words{
    //   margin-top: -55px;
      background: white;
      padding:10px;
      border-radius: 20px;
  }
  .techs{
    width: 80px;
    margin: 10px;
  }